body {
	background-image: url("stardust.png"); 
}

ul.nav {
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: right;
	font-family: Verdana, Geneva, sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-transform: none;
}

nav {
	color: #ffffff;
	width: 100%;
	text-decoration: none;
	text-transform: none;
}

li {
	color: #ffffff;
	text-decoration: none;
	text-transform: none;
	display: inline;
	font-size: 20px;
	border: 2px solid #ffffff;
	margin: 2px;
	padding: 3px;
}

h2 {
	color: #ffffff;
	font-size: 35px;
	font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
}

#image-wrapper {
	position: relative;
	float: left;
}

#image-wrapper p {
	position: absolute;
	left: 0;
	top: 0;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	border: 5px solid #ffffff;
}

#image-2 {
	height: 800px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

h2 {
	text-align: center;
}

p {
	color: #ffffff;
}

#header {
	border-color: #ffffff;
	border-width: 5px;
	border-style: solid;
}

#bio, #work, #education, #contact {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	text-transform: none;
	text-decoration: none;
	border: 5px solid #ffffff;
	margin-bottom: 30px;
}

#education {
	float: left;
	padding: 20px;
	margin-left: 40px;
	margin-right: 60px;
	margin-bottom: 30px;
	width: 40%;
	height: 200px;
}

#work {
	float: left;
	padding: 20px;
	width: 40%;
	height: 200px;
	margin-bottom: 30px
}


#contact {
	text-transform: none;
	text-decoration: none;
	color: #ffffff;
}

a:link, a:active, a:hover, a:visited {
	text-transform: none;
	text-decoration: none;
	color: #ffffff;
}